body{
    font-size: 16px;
    font-family: Verdana, sans-serif;
}
nav{
    background-color: white;
    color: black;
    justify-content: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}
ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-right: 1.5rem;
}
